header {
    height: 50px;
    background-color: black;
    z-index: 3;
    height: 100%;
}
main {
    margin-top: 50px;
}

.icon{
    left: 3%;
    top:5%;
}
.contactMedia{
    margin-top: 5%;
    color:white;
    display: flex;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}
.contactMedia a{
    font-size: 4rem;
    text-align: center;
    width: 50%;
    padding: 20px 0px;
}
h6{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}
footer{
    position: absolute;
    bottom: 0;
    z-index: 0
}

@media(orientation:portrait){
    
    .icon{
        left:5%;
        top:15%;
    }
    .contactMedia{
        margin-top: 20%;
        width: 100%;
    }
    .contactMedia a{
        padding: 40px 0;
    }
}

@media(min-width:1024px){
    .contactMedia{
        margin-top: 10%;
    }
    h6{
        font-size:3rem;
    }
    .contactMedia a{
        font-size:6rem;
    }
    p{
        font-size:2rem;
    }
}